.responsive-gallery.links a {
    float: left;
    display: block;
    margin-right: 5px;
    margin-bottom: 5px;
}

.responsive-gallery.links a img {
    opacity: 0.8;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.responsive-gallery.links a:hover img {
    opacity: 1;
}


.blueimp-gallery-carousel {
  margin: 0 auto !important;
  box-shadow: none !important;
}
